<!doctype html>
<html data-ng-app="adminLeadApp">
<head>
    <meta charset="utf-8">
    <title data-ng-bind="leadadmin_title">Leading Practice Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/angular-flash-alert/src/angular-flash.css"/>

    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/fonts/style.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/main-responsive.css">
    <link rel="stylesheet" href="plugins/iCheck/skins/all.css">
    <link rel="stylesheet" href="plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
    <link rel="stylesheet" href="plugins/perfect-scrollbar/src/perfect-scrollbar.css">
    <link rel="stylesheet" href="styles/theme_light.css" type="text/css" id="skin_color">
    <link rel="stylesheet" href="styles/print.css" type="text/css" media="print"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- end: MAIN CSS -->

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-cloak>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <!-- start: TOP NAVIGATION CONTAINER -->
    <div class="container">
        <div class="navbar-header">
            <!-- start: RESPONSIVE MENU TOGGLER -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="clip-list-2"></span>
            </button>
            <!-- end: RESPONSIVE MENU TOGGLER -->
            <!-- start: LOGO -->
            <a href="#/">
                <img class="img img-responsive img-header-navbar lead_logo"
                     src="/images/logo.png"/>
            </a>
            <!-- end: LOGO -->
        </div>
        <div class="navbar-tools">
            <!-- start: TOP NAVIGATION MENU -->
            <ul class="nav navbar-right">
                <!-- start: TO-DO DROPDOWN -->
                <li class="dropdown">
                    <a href="#" data-close-others="true" class="dropdown-toggle" data-hover="dropdown"
                       data-toggle="dropdown">
                        <i class="clip-list-5"></i>
                    </a>
                    <ul class="dropdown-menu todo">
                        <li>
                            <a href="#" class="todo-actions">
                                <span class="desc"> Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- end: TO-DO DROPDOWN-->
                <!-- start: NOTIFICATION DROPDOWN -->
                <!-- start: PAGE SIDEBAR TOGGLE -->
            </ul>
            <!-- end: TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
</div>
<div class="main-container">
    <div class="navbar-content">
        <!-- start: SIDEBAR -->
        <div class="main-navigation navbar-collapse collapse">
            <!-- start: MAIN MENU TOGGLER BUTTON -->
            <div class="navigation-toggler">
                <i class="clip-chevron-left"></i>
                <i class="clip-chevron-right"></i>
            </div>
            <!-- end: MAIN MENU TOGGLER BUTTON -->
            <!-- start: MAIN NAVIGATION MENU -->
            <ul class="main-navigation-menu">
                <li><a href="#/">
                    {{'dashboard'|translate}}
                    </a>
                </li>
                <li class="{active}">
                    <a href="javascript:void(0)">

                        <span class="title">{{'users'|translate}}</span>
                        <i class="icon-arrow"></i>
                        <span class="selected"></span>
                    </a>
                    <ul class="sub-menu">

                        <li class="">
                            <a href="#/all_users">
                                <span class="title">{{'all_users' | translate}}</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="{active}">
                    <a href="javascript:void(0)">

                        <span class="title">{{'objects'|translate}}</span>
                        <i class="icon-arrow"></i>
                        <span class="selected"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="#/business_model_notations">
                                <span class="title">{{'business_model_notations_list' | translate}}</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#/meta_objects">
                                <span class="title">{{'meta_objects_list' | translate}}</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#/xbpmn_notations">
                                <span class="title">{{'xbpmn_notations_list' | translate}}</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#/social_media_notations">
                                <span class="title">{{'social_media_notations_list' | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- end: MAIN NAVIGATION MENU -->
        </div>
        <!-- end: SIDEBAR -->
    </div>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- start: PAGE TITLE & BREADCRUMB -->
                    <ol class="breadcrumb">
                        <li>
                            &nbsp;
                        </li>
                    </ol>
                    <div class="siteContentWrap" data-ng-view="">
                    </div>
                    <!-- end: PAGE TITLE & BREADCRUMB -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="bower_components/angular-flash-alert/src/angular-flash.js"></script>
<script src="bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
<script src="bower_components/angularjs-filters/filters.js"></script>
<script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
<script src="bower_components/ng-file-upload-shim/ng-file-upload.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>

<!-- start: MAIN JAVASCRIPTS -->
<!--[if lt IE 9]>
<script src="plugins/respond.min.js"></script>
<script src="plugins/excanvas.min.js"></script>
<script type="text/javascript" src="assets/plugins/jQuery-lib/1.10.2/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="plugins/jQuery-lib/2.0.3/jquery.min.js"></script>
<!--<![endif]-->
<script src="plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="plugins/blockUI/jquery.blockUI.js"></script>
<script src="plugins/iCheck/jquery.icheck.min.js"></script>
<script src="plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
<script src="plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
<script src="plugins/less/less-1.5.0.min.js"></script>
<script src="plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
<script src="js/main.js"></script>
<!-- end: MAIN JAVASCRIPTS -->
<!--Services-->
<script src="scripts/services/config.js"></script>
<script src="scripts/services/ApiService.js"></script>
<!--Controllers-->
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/users.js"></script>
<script src="scripts/controllers/meta_objects.js"></script>
<script src="scripts/controllers/xbpmn_notations.js"></script>
<script src="scripts/controllers/business_model_notations.js"></script>
<script src="scripts/controllers/social_media_notations.js"></script>
<!--Modules-->
<!--<script src="modules/tabsApp.js"></script>-->
<script>
    jQuery(document).ready(function () {
        Main.init();
    });
</script>
</body>
</html>
