<div class="page-header">
    <!-- title of the page -->
    <h1>All Users</h1>
</div>
<form>
    <div class="form-group col-md-12">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search the objects by anything" ng-model="search">
        </div>
    </div>
</form>
<table class="table table-striped table-bordered">
    <tr>
        <td data-ng-click="isReversed = !isReversed; sort('user_id');"><a href="">ID</a></td>
        <td data-ng-click="isReversed = !isReversed; sort('user_name');"><a href="">Username</a></td>
        <td data-ng-click="isReversed = !isReversed; sort('user_real_name');"><a href="">Real name</a></td>
        <td data-ng-click="isReversed = !isReversed; sort('user_email');"><a href="">Email</a></td>
        <td>Edit User Permissions</td>
    </tr>
    <tr data-ng-repeat="user in users | toArray:false | filter:search">

        <td>{{user.user_id}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user.user_real_name}}</td>
        <td>{{user.user_email}}</td>
        <td data-ng-click="editUserPermissions"><a href="#/edit_user/{{user.user_id}}">
            <button class="btn btn-default">Edit</button>
        </a></td>

    </tr>

</table>


