<div class="page-header">
    <h1>{{InnerPageTitle}}</h1>
</div>

<!-- X-BPMN Notations Add/Edit Form  -->
<div class="row" data-ng-cloak="">
    <div class="col-sm-12">
        <form name="editBusinessModelNotatonForm" novalidate>
            <input type="hidden" data-ng-model="singleBusinessModelNotation.id"/>

            <!-- Left Column-->
            <div class="col-sm-6">
                <!-- Name Field-->
                <div class="form-group"
                     data-ng-class="{ 'has-error' : editBusinessModelNotatonForm.business_model_notation_name.$invalid && !editBusinessModelNotatonForm.business_model_notation_name.$pristine }">
                    <label for="nameField">{{'name' | translate}}:</label>
                    <input type="text" name="business_model_notation_name" id="nameField" class="form-control"
                           data-ng-model="singleBusinessModelNotation.name" data-ng-required="true"

                            />
            <span class="text-danger"
                  ng-show="editBusinessModelNotatonForm.business_model_notation_name.$error.required
                      && !editBusinessModelNotatonForm.business_model_notation_name.$pristine"
                    >
                    {{'required_field' | translate}}</span>
                    <!-- End Institution name Validation Errors -->
                    </td>
                </div>
                <!-- End Name Field-->

                <!-- Description Field-->
                <div class="form-group"
                     data-ng-class="{ 'has-error' : editBusinessModelNotatonForm.business_model_notation_name.$invalid && !editBusinessModelNotatonForm.business_model_notation_name.$pristine }">
                    <label for="descriptionField">{{'description' | translate}}:</label>
                <textarea name="business_model_notation_description" id="descriptionField" class="form-control"
                          data-ng-model="singleBusinessModelNotation.description"
                        ></textarea>
            <span class="text-danger"
                  ng-show="editBusinessModelNotatonForm.business_model_notation_description.$error.required
                      && !editBusinessModelNotatonForm.business_model_notation_description.$pristine"
                    >
                    {{'required_field' | translate}}</span>
                    <!-- End Institution name Validation Errors -->
                    </td>
                </div>
                <!-- End Description Field-->

                <!-- Object Category Field-->
                <div class="form-group"
                     data-ng-class="{ 'has-error' : editBusinessModelNotatonForm.business_model_notation_object_category.$invalid && !editBusinessModelNotatonForm.business_model_notation_object_category.$pristine }">
                    <label for="objectCategoryField">{{'object_category' | translate}}:</label>
                    <select
                            name="business_model_notation_object_category"
                            id="objectCategoryField"
                            class="form-control"
                            data-ng-model="singleBusinessModelNotation.object_category_id"
                            data-ng-required="true"
                            data-ng-selected="singleBusinessModelNotation.object_category_id==''"
                            >
                        <option value="">---</option>
                        <option value="{{objectCategory.id}}"
                                data-ng-repeat="objectCategory in businessModelNotationsObjectCategories"
                                data-ng-selected="singleBusinessModelNotation.object_category_id==objectCategory.id"
                                >{{objectCategory.name}}
                        </option>
                    </select>

            <span class="text-danger"
                  ng-show="editBusinessModelNotatonForm.business_model_notation_object_category.$error.required
                      && !editBusinessModelNotatonForm.business_model_notation_object_category.$pristine"
                    >
                    {{'required_field' | translate}}</span>
                    <!-- End Institution name Validation Errors -->
                    </td>
                </div>
                <!-- End Object Category Field-->

            </div>
            <!-- End Left Column-->

            <!--  Right Column -->
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 notationBox">
                        <label>{{'notation' | translate}}:</label>

                        <img data-ng-show="!!singleBusinessModelNotation.notation && !file"
                             data-ng-src="{{front_url}}/images/business_model_notations/{{singleBusinessModelNotation.notation}}"
                             class="img-responsive" alt="{{singleBusinessModelNotation.name}}">

                        <img ngf-src="!file.$error && file" class="img-responsive">

                        <div class="reqNotationIcon" data-ng-show="!file && !singleBusinessModelNotation.notation">
                            {{'notation_is_required' | translate}}
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <label>&nbsp;</label>

                        <div ngf-drop ngf-select ng-model="file" class="drop-box"
                             ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                             accept="image/*"
                             ngf-pattern="'image/*'">Drop Notation icon here or click to upload
                        </div>
                    </div>
                </div>
                <div class="row moSubmitBox">
                    <div class="col-sm-12">
                        <label>&nbsp;</label>

                        <div class="form-group">
                            <input type="button"
                                   ng-disabled="!editBusinessModelNotatonForm.$valid || (!file && !singleBusinessModelNotation.object_category_id)"
                                   data-ng-click="save();"
                                   value="{{'save' | translate}}" class="btn btn-default pull-right"/>
                        </div>
                    </div>
                </div>


            </div>
            <!--  End Right Column -->


        </form>
    </div>
</div>
<!-- Edit X-BPMN Notations Add/Edit Form  -->