<form data-ng-repeat="data in userData">
    <div class="page-header">
        <h1>Edit user Permissions</h1>

        <div flash-message="5000"></div>
    </div>
    <div class="body"><h1>Edit user: {{data.user_name}} </h1>

        <div>
            <tabset>
                <form>
                    <tab heading="Allow Permissions" id="aa">
                        <p class="alert alert-success">The settings here will be <b>ALLOWED</b> for the selected user.
                        </p>

                        <div class="row">
                            <div class="col-md-3">

                                <h4 class="title">Namespaces</h4>


                                <div class="form-group">
                                    <div class="checkbox" ng-repeat="namespace_allow in namespaces_allow">
                                        <label>
                                            <input
                                                    type="checkbox"
                                                    name="selectedNamespacesAllow[]"
                                                    value="{{namespace_allow.value}}"
                                                    ng-model="namespace_allow.selected"
                                                    ng-checked="allow{{namespace_allow.value}}"
                                                    ng-click="checkFuncAllow(namespace_allow.value)">
                                            {{namespace_allow.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                                <h4 class="title">Categories</h4>

                                <input type="text" ng-model="tempProductCat"
                                       typeahead-on-select="onSelectCategories($item);tempProductCat=null"
                                       typeahead="category as category.cat_title for category in categories | filter:$viewValue |limitTo:10"
                                       class="form-control">

                                <div data-ng-repeat="category in category_items">

                                    <input data-ng-model="categories_selected[category.id]" id="category_id_allow"
                                           type="hidden"
                                           value="{{category.id}}">

                                    <div class="row displayItems">
                                        <div class="col-md-12">
                                            <div class="col-md-10"><span>{{category.name | replace:'_':' '}}</span>
                                            </div>
                                            <div class="col-md-2">
                                                <label>
                                                    <button data-ng-click="removeItem($index, category, 'category')"
                                                            class="close" aria-label="Close"
                                                            value="{{category.id}}"><span
                                                            aria-hidden="true">&times;</span>
                                                    </button>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                </form>
        </div>
        <div class="col-md-3">
            <form>
                <h4 class="title">Pages</h4>

                <input type="text" ng-model="tempProduct"
                       typeahead-on-select="onSelectPages($item);tempProduct=null"
                       typeahead="page as page.title for page in pages | filter:$viewValue |limitTo:10"
                       class="form-control ">

                <div data-ng-repeat="page in page_items">
                    <!--{{pages_selected[page.id]}}-->
                    <input data-ng-model="pages_selected[page.id]" id="page_id_allow" type="hidden"
                           value="{{page.id}}">

                    <div class="row displayItems">
                        <div class="col-md-12">
                            <div class="col-md-10"><span>{{page.name | replace:'_':' '}}</span>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    <button data-ng-click="removeItem($index, page, 'page')"
                                            class="close" aria-label="Close" value="{{page.id}}"><span
                                            aria-hidden="true">&times;</span>
                                    </button>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="savePermissionsAllow()">
                <input type="submit" class="btn btn-default pull-right" ngClick="Submit" value="Save"/>
            </form>
        </div>
    </div>
    </tab>

    <tab heading="Deny Permissions">
        <p class="alert alert-danger">The settings here will be <b>DENIED</b> for the selected user.</p>

        <div class="row">
            <div class="col-md-3">

                <h4 class="title">Namespaces</h4>

                <form>
                    <div class="form-group">
                        <div class="checkbox" ng-repeat="namespace_deny in namespaces_deny">
                            <label>
                                <input
                                        type="checkbox"
                                        name="selectedNamespacesDeny[]"
                                        value="{{namespace_deny.value}}"
                                        ng-model="namespace_deny.selected"
                                        ng-checked="deny{{namespace_deny.value}}"
                                        ng-click="checkFuncDeny(namespace_deny.value)">
                                {{namespace_deny.name}}
                            </label>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-3">
                <form>
                    <h4 class="title">Categories</h4>

                    <input type="text" ng-model="tempProductCatDeny"
                           typeahead-on-select="onSelectCategoriesDeny($item);tempProductCatDeny=null"
                           typeahead="category_deny as category_deny.cat_title for category_deny in categories_deny | filter:$viewValue |limitTo:10"
                           class="form-control">

                    <div data-ng-repeat="category_deny in category_items_deny">

                        <input data-ng-model="categories_selected_deny[category_deny.id]"
                               id="category_id_deny"
                               type="hidden"
                               value="{{category_deny.id}}">

                        <div class="row displayItems">
                            <div class="col-md-12">
                                <div class="col-md-10"><span>{{category_deny.name | replace:'_':' '}}</span>
                                </div>
                                <div class="col-md-2">
                                    <label>
                                        <button data-ng-click="removeItemDeny($index, category_deny, 'category')"
                                                class="close" aria-label="Close"
                                                value="{{category_deny.id}}"><span
                                                aria-hidden="true">&times;</span>
                                        </button>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-3">
                <form>
                    <h4 class="title">Pages</h4>

                    <input type="text" ng-model="tempProductDeny"
                           typeahead-on-select="onSelectPagesDeny($item);tempProductDeny=null"
                           typeahead="page_deny as page_deny.title for page_deny in pages_deny | filter:$viewValue |limitTo:10"
                           class="form-control">

                    <div data-ng-repeat="page_deny in page_items_deny">
                        <!--{{pages_selected[page.id]}}-->
                        <input data-ng-model="pages_selected_deny[page_deny.id]" id="page_id_deny"
                               type="hidden"
                               value="{{page_deny.id}}">

                        <div class="row displayItems">
                            <div class="col-md-12">
                                <div class="col-md-10"><span>{{page_deny.name | replace:'_':' '}}</span>
                                </div>
                                <div class="col-md-2">
                                    <label>
                                        <button data-ng-click="removeItemDeny($index, page_deny, 'page')"
                                                class="close" aria-label="Close" value="{{page_deny.id}}">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form ng-submit="savePermissionsDeny()">
                    <input type="submit" class="btn btn-default pull-right" ngClick="Submit" value="Save"/>
                </form>
            </div>
        </div>
    </tab>
</form>
</tabset>

</div>

</div>
</div>

