<div class="page-header">
    <h1>{{'meta_objects_list'| translate}}</h1>
</div>
<div flash-message="5000"></div>
<div class="moListFilter clearfix">
    <form>
        <div class="form-group col-md-12">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search the meta objects by name" ng-model="search.name">
            </div>
        </div>
    </form>
</div>
<div data-ng-show="pageLoading" class="pageLoader"><img src="/images/ajax-loader.gif" /></div>
<div ng-show="!pageLoading" class="metaObjectListContent table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>{{'layer'| translate}}</th>
            <th>{{'sub_layer'| translate}}</th>
            <th>{{'name'| translate}}</th>

            <th></th>
        </tr>
        <tr data-ng-repeat="metaObject in metaObjects | filter:search">
            <td>
                {{metaObject.id}}
            </td>
            <td class="moNotationBox"><img data-ng-src="{{front_url}}/images/meta_objects/{{metaObject.icon}}" alt="{{metaObject.name}}" class="moListNotation"></td>
            <td class="coloredContent" style="background: {{metaObject.sublayer.layer.color}};">{{metaObject.sublayer.layer.name}}</td>
            <td class="coloredContent" style="background: {{metaObject.sublayer.color}};">{{metaObject.sublayer.name}}</td>
            <td>{{metaObject.name}}</td>

            <td><a href="#/meta_objects/edit/{{metaObject.id}}" class="btn btn-default">{{'edit'| translate}}</a></td>
        </tr>
    </table>
</div>