<div class="page-header">
    <h1>{{'edit_meta_object'| translate}}</h1>
</div>

<!-- Meta Object Edit Form  -->
<div class="row">
    <div class="col-sm-12">
        <form name="editMetaObjectForm" novalidate>
            <input type="hidden" data-ng-model="singleMetaObject.id"/>

            <!-- Left Column-->
            <div class="col-sm-6">
                <!-- Name Field-->
                <div class="form-group"
                     data-ng-class="{ 'has-error' : editMetaObjectForm.meta_object_name.$invalid && !editMetaObjectForm.meta_object_name.$pristine }">
                    <label for="nameField">{{'name' | translate}}:</label>
                    <input type="text" name="meta_object_name" id="nameField" class="form-control"
                           data-ng-model="singleMetaObject.name" data-ng-required="true"

                            />
            <span class="text-danger"
                  ng-show="editMetaObjectForm.meta_object_name.$error.required
                      && !editMetaObjectForm.meta_object_name.$pristine"
                    >
                    {{'required_field' | translate}}</span>
                    <!-- End Institution name Validation Errors -->
                    </td>
                </div>
                <!-- End Name Field-->

                <!-- Description Field-->
                <div class="form-group"
                     data-ng-class="{ 'has-error' : editMetaObjectForm.meta_object_name.$invalid && !editMetaObjectForm.meta_object_name.$pristine }">
                    <label for="descriptionField">{{'description' | translate}}:</label>
                <textarea name="meta_object_description" id="descriptionField" class="form-control"
                          data-ng-model="singleMetaObject.description" data-ng-required="true"
                        ></textarea>
            <span class="text-danger"
                  ng-show="editMetaObjectForm.meta_object_description.$error.required
                      && !editMetaObjectForm.meta_object_description.$pristine"
                    >
                    {{'required_field' | translate}}</span>
                    <!-- End Institution name Validation Errors -->
                    </td>
                </div>
                <!-- End Description Field-->

            </div>
            <!-- End Left Column-->

            <!--  Right Column -->
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 notationBox">
                        <label>{{'notation' | translate}}:</label>
                        <img data-ng-show="!file"
                             data-ng-src="{{front_url}}/images/meta_objects/{{singleMetaObject.icon}}"
                             class="img-responsive" alt="{{singleMetaObject.name}}">

                        <img ngf-src="!file.$error && file" class="img-responsive">
                    </div>
                    <div class="col-sm-8">
                        <label>&nbsp;</label>

                        <div ngf-drop ngf-select ng-model="file" class="drop-box"
                             ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                             accept="image/*"
                             ngf-pattern="'image/*'">Drop Notation icon here or click to upload
                        </div>
                    </div>
                </div>
                <div class="row moSubmitBox">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="button" ng-disabled="!editMetaObjectForm.$valid" data-ng-click="save();"
                                   value="{{'save' | translate}}" class="btn btn-default pull-right"/>
                        </div>
                    </div>
                </div>


            </div>
            <!--  End Right Column -->


        </form>
    </div>
</div>
<!-- End Meta Object Edit Form  -->

