<div class="page-header">
    <h1>{{InnerPageTitle}}</h1>
</div>
<div flash-message="5000"></div>
<!-- X-BPMN Notations Add/Edit Form  -->
<div class="row" data-ng-cloak="">
    <div class="col-sm-12">
        <form name="editSocialMediaNotatonForm" novalidate>
            <input type="hidden" data-ng-model="singleSocialMediaNotation.id"/>

            <!-- Left Column-->
            <div class="col-sm-6">
                <!-- Name Field-->
                <div class="form-group"
                     data-ng-class="{ 'has-error' : editSocialMediaNotatonForm.social_media_notation_name.$invalid && !editSocialMediaNotatonForm.social_media_notation_name.$pristine }">
                    <label for="nameField">{{'name' | translate}}:</label>
                    <input type="text" name="social_media_notation_name" id="nameField" class="form-control"
                           data-ng-model="singleSocialMediaNotation.name" data-ng-required="true"

                            />
            <span class="text-danger"
                  ng-show="editSocialMediaNotatonForm.social_media_notation_name.$error.required
                      && !editSocialMediaNotatonForm.social_media_notation_name.$pristine"
                    >
                    {{'required_field' | translate}}</span>
                    <!-- End Institution name Validation Errors -->
                    </td>
                </div>
                <!-- End Name Field-->

                <!-- Description Field-->
                <div class="form-group"
                     data-ng-class="{ 'has-error' : editSocialMediaNotatonForm.social_media_notation_description.$invalid && !editSocialMediaNotatonForm.social_media_notation_name.$pristine }">
                    <label for="descriptionField">{{'description' | translate}}:</label>
                <textarea name="social_media_notation_description" id="descriptionField" class="form-control"
                          data-ng-model="singleSocialMediaNotation.description"
                        ></textarea>
            <span class="text-danger"
                  ng-show="editSocialMediaNotatonForm.social_media_notation_description.$error.required
                      && !editSocialMediaNotatonForm.social_media_notation_description.$pristine"
                    >
                    {{'required_field' | translate}}</span>
                    <!-- End Institution name Validation Errors -->
                    </td>
                </div>
                <!-- End Description Field-->

                <!-- Object Category Field-->
                <div class="form-group"
                     data-ng-class="{ 'has-error' : editSocialMediaNotatonForm.social_media_notation_object_category.$invalid && !editSocialMediaNotatonForm.social_media_notation_object_category.$pristine }">
                    <label for="objectCategoryField">{{'object_category' | translate}}:</label>
                    <select
                            name="social_media_notation_object_category"
                            id="objectCategoryField"
                            class="form-control"
                            data-ng-model="singleSocialMediaNotation.object_category_id"
                            data-ng-required="true"
                            data-ng-selected="singleSocialMediaNotation.object_category_id==''"
                            >
                        <option value="">---</option>
                        <option value="{{objectCategory.id}}"
                                data-ng-repeat="objectCategory in socialMediaNotationsObjectCategories"
                                data-ng-selected="singleSocialMediaNotation.object_category_id==objectCategory.id"
                                >{{objectCategory.name}}
                        </option>
                    </select>

            <span class="text-danger"
                  ng-show="editSocialMediaNotatonForm.social_media_notation_object_category.$error.required
                      && !editSocialMediaNotatonForm.social_media_notation_object_category.$pristine"
                    >
                    {{'required_field' | translate}}</span>
                    <!-- End Institution name Validation Errors -->
                    </td>
                </div>
                <!-- End Object Category Field-->

            </div>
            <!-- End Left Column-->

            <!--  Right Column -->
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 notationBox">
                        <label>{{'notation' | translate}}:</label>

                        <img data-ng-show="!!singleSocialMediaNotation.notation && !file"
                             data-ng-src="{{front_url}}/images/social_media_notations/{{singleSocialMediaNotation.notation}}"
                             class="img-responsive" alt="{{singleSocialMediaNotation.name}}">

                        <img ngf-src="!file.$error && file" class="img-responsive">

                        <div class="reqNotationIcon" data-ng-show="!file && !singleSocialMediaNotation.notation">
                            {{'notation_is_required' | translate}}
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <label>&nbsp;</label>

                        <div ngf-drop ngf-select ng-model="file" class="drop-box"
                             ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                             accept="image/*"
                             ngf-pattern="'image/*'">Drop Notation icon here or click to upload
                        </div>
                    </div>
                </div>
                <div class="row moSubmitBox">
                    <div class="col-sm-12">
                        <label>&nbsp;</label>

                        <div class="form-group">
                            <input data-ng-class="{'hidden':!!singleSocialMediaNotation.id}"  type="button"
                                   ng-disabled="!editSocialMediaNotatonForm.$valid || !file"
                                   data-ng-click="save();"
                                   value="{{'save' | translate}}" class="btn btn-default pull-right sendButtons"/>

                            <input data-ng-class="{'hidden':!singleSocialMediaNotation.id}"  type="button"
                                   ng-disabled="!editSocialMediaNotatonForm.$valid || singleSocialMediaNotation.noatation==''"
                                   data-ng-click="save();"
                                   value="{{'save' | translate}}" class="btn btn-default pull-right sendButtons "/>
                        </div>
                    </div>
                </div>


            </div>
            <!--  End Right Column -->


        </form>
    </div>
</div>
<!-- Edit X-BPMN Notations Add/Edit Form  -->