<div class="page-header">
    <h1>{{'xbpmn_notations_list'| translate}} <a href="#/xbpmn_notations/add" class="btn btn-default pull-right">{{'add'| translate}}</a></h1>
</div>
<div flash-message="5000"></div>

<div class="moListFilter clearfix">
    <form>
        <div class="form-group col-md-12">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="{{'xbpmn_notation_search'| translate}}"
                       ng-model="search.name">
            </div>
        </div>
    </form>
</div>

<div data-ng-show="pageLoading" class="pageLoader"><img src="/images/ajax-loader.gif" /></div>
<div ng-show="!pageLoading" class="xbpmnNotationsListContent table-responsive">

    <table class="table table-striped table-bordered">
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>{{'name'| translate}}</th>
            <th>{{'layer'| translate}}</th>
            <th>{{'sub_layer'| translate}}</th>
            <th>{{'object_category'| translate}}</th>


            <th></th>
        </tr>
        <tr data-ng-repeat="xbpmnNotation in xbpmnNotations | filter:search">
            <td>
                {{xbpmnNotation.id}}
            </td>
            <td class="moNotationBox"><img data-ng-src="{{front_url}}/images/xbpmn_notations/{{xbpmnNotation.notation}}"
                                           data-ng-class="{ 'xbpmnNotationListBig': xbpmnNotation.object_category_id==2}"
                                           alt="{{xbpmnNotation.name}}"
                                           class="xbpmnNotationList">
            </td>
            <td>{{xbpmnNotation.name}}</td>
            <td class="coloredContent"><span style="background: {{xbpmnNotation.sublayer.layer.color}};">&nbsp;</span>{{xbpmnNotation.sublayer.layer.name}}</td>
            <td class="coloredContent"><span style="background: {{xbpmnNotation.sublayer.color}};">&nbsp;</span>{{xbpmnNotation.sublayer.name}}</td>
            <td>{{xbpmnNotation.object_category.name}}</td>

            <td><a href="#/xbpmn_notations/edit/{{xbpmnNotation.id}}" class="btn btn-default">{{'edit'| translate}}</a></td>
        </tr>
    </table>
</div>